[submodule "plugins/myblocks"]
    path = plugins/myblocks
    url = https://github.com/barreiroleo/tmux-myblocks.git

[submodule "plugins/tmux-mode-indicator"]
    path = plugins/tmux-mode-indicator
	url = https://github.com/MunifTanjim/tmux-mode-indicator.git

[submodule "plugins/tpm"]
    path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
